*{
margin: 0px;

}

body{
	background-image: url("images/paysage.jpg");
	background-repeat: no-repeat;
	width: 1920px;
	height: 1080px;
}


/*-------------------------------modules------------------------------*/


/*horloge*/

.horloge{
	float:left;
	width:370px;
	height:256px;
	background:rgba(0,0,0,0.75);
	margin:7px 7px 7px 7px;
	color:#fff;
}

.inner_horloge{
	margin-top: 48px;
	margin-bottom: 48px;
}

.date{
	text-align: center;
	line-height: 30px;
	font-family: 'OpenSans-Light';
	font-size: 30px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.heure{
	text-align: center;
	line-height: 120px;
	font-family: 'OpenSans-Light';
	font-size: 120px;
	color: #fff;
}


/*actualités*/

.actualites{
	float:left;
	position:absolute;
	width:754px;
	height:526px;
	background:rgba(0,0,0,0.75);
	margin:7px 7px 7px 7px;
	left:384px;
}


/*Diaporama*/

.diaporama{
	float:left;
	position:absolute;
	width:754px;
	height:526px;
	background:rgba(0,0,0,0.75);
	margin:7px 7px 7px 7px;
	left:1152px;
}


/*Tbc*/

.tbc{
	float:left;
	position:absolute;
	width:370px;
	height:796px;
	background:rgba(0,0,0,0.75);
	margin:7px 7px 7px 7px;
	top:270px;
}

.logo_tbc{
	position:absolute;
	top:14px;
	left:10px;
}

.traittbc1{
	position:absolute;
	width:350px;
	height: 1px;
	background: #fff;
	top:60px;
	left:10px;
	opacity:0.75;
}


.tram{											/*tram*/
	position: absolute;
	font-family: 'OpenSans-Light';
	font-size: 20px;
	text-transform: uppercase;
	color:#fff;
	top:78px;
	left:10px;
}

.tram img {
		vertical-align: middle;
		margin-left: 6px;
		margin-right: 6px;
}

.voyant_tram{
	position: absolute;
	font-family: 'OpenSans-Light';
	font-size: 20px;
	color:#fff;
	top:80px;
	left:156px;
}

.voyant_tram img{
	vertical-align: middle;
	margin-left: 6px;
	margin-right: 6px;
}

.nexttram{
	position: absolute;
	font-family: 'OpenSans-Light';
	font-size: 20px;
	text-transform: uppercase;
	color:#fff;
	top:140px;
	left:10px;
}

.dest1{
	position: absolute;
	font-family: 'OpenSans-Light';
	font-size: 20px;
	color:#fff;
	top:190px;
	left:20px;
}

.time1_1{
	position: absolute;
	font-family: 'OpenSans-Light';
	font-size: 50px;
	color:#fff;
	top:170px;
	left:210px;
}

.time1_2{
	position: absolute;
	font-family: 'OpenSans-Light';
	font-size: 50px;
	color:#fff;
	top:170px;
	left:290px;
}


.dest2{
	position: absolute;
	font-family: 'OpenSans-Light';
	font-size: 20px;
	color:#fff;
	top:250px;
	left:20px;
}

.time2_1{
	position: absolute;
	font-family: 'OpenSans-Light';
	font-size: 50px;
	color:#fff;
	top:230px;
	left:210px;
}

.time2_2{
	position: absolute;
	font-family: 'OpenSans-Light';
	font-size: 50px;
	color:#fff;
	top:230px;
	left:290px;
}

.traittbc2{
	position:absolute;
	width:350px;
	height: 1px;
	background: #fff;
	top:310px;
	left:10px;
	opacity:0.75;
}


.bus{														/*bus*/
	position: absolute;
	font-family: 'OpenSans-Light';
	font-size: 20px;
	text-transform: uppercase;
	color:#fff;
	top:328px;
	left:10px;
}

.bus img {
		vertical-align: middle;
		margin-left: 6px;
		margin-right: 6px;
}

.voyant_bus{
	position: absolute;
	font-family: 'OpenSans-Light';
	font-size: 20px;
	color:#fff;
	top:330px;
	left:143px;
}

.voyant_bus img{
	vertical-align: middle;
	margin-left: 6px;
	margin-right: 6px;
}

.nextbus{
	position: absolute;
	font-family: 'OpenSans-Light';
	font-size: 20px;
	text-transform: uppercase;
	color:#fff;
	top:390px;
	left:10px;
}

.arret1{
	position: absolute;
	font-family: 'OpenSans-Light';
	font-size: 20px;
	color:#fff;
	top:440px;
	left:20px;
}

.horaire1{
	position: absolute;
	font-family: 'OpenSans-Light';
	font-size: 50px;
	color:#fff;
	top:420px;
	left:210px;
}

.arret2{
	position: absolute;
	font-family: 'OpenSans-Light';
	font-size: 20px;
	color:#fff;
	top:500px;
	left:20px;
}

.horaire2{
	position: absolute;
	font-family: 'OpenSans-Light';
	font-size: 50px;
	color:#fff;
	top:480px;
	left:210px;
}

.traittbc3{
	position:absolute;
	width:350px;
	height: 1px;
	background: #fff;
	top:560px;
	left:10px;
	opacity:0.75;
}

.vcub{													/*vcub*/
	position: absolute;
	font-family: 'OpenSans-Light';
	font-size: 20px;
	text-transform: uppercase;
	color:#fff;
	top:588px;
	left:10px;
}

.nb_vcub{
	position: absolute;
	font-family: 'OpenSans-Light';
	font-size: 50px;
	text-transform: uppercase;
	color:#fff;
	top:568px;
	left:290px;
}

.cadre_blanc{
	position: absolute;
	width: 370px;
	height: 126px;
	background:#fff;
	top: 640px;
}

.info_tbc{
	font-family: 'OpenSans-Light';
	font-size: 16px;
	padding: 10px 10px 10px 10px;
	color:#000000;
	text-align: center;
}

.bulle{
	top:773px;
	position: absolute;
	left:150px;
}

/*Babord*/

.babord{
	float:left;
	position:absolute;
	width:1138px;
	height:526px;
	background:rgba(0,0,0,0.75);
	margin:7px 7px 7px 7px;
	top:540px;
	left:384px;
}


/*Meteo*/

.meteo{
	float:left;
	position:absolute;
	width:370px;
	height:526px;
	background:rgba(0,0,0,0.75);
	margin:7px 7px 7px 7px;
	top:540px;
	left:1536px;
}
