*{
margin: 0px;

}

body{
	/*background-image: url("images/theatre.jpg");*/
	background-repeat: no-repeat;
	width: 1920px;
	height: 1080px;
	font-family: 'OpenSans-Light';
}


/*-------------------------------modules------------------------------*/


/*horloge*/
ul{
	padding-left: 0px;
}

#horloge{
	width:370px;
	height:256px;
	color:#fff;
	position: initial;

}
#sideleft{
	display: block;
	width: 370px;
}

.module{
	position:absolute;
	float:left;
	margin:7px 7px 7px 7px;
	background:rgba(0,0,0,0.75);
}

.inner_horloge{
	margin-top: 48px;
	margin-bottom: 48px;
}

.date{
	text-align: center;
	line-height: 30px;

	font-size: 30px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.imgbook{
	width:250px;
}

.heure{
	text-align: center;
	line-height: 120px;
	font-size: 120px;
	color: #fff;
}


/*actualités*/

#actualites{
	width:754px;
	height:526px;
	left:384px;
}

.actualite{
	position: absolute;
	font-size: 30px;
	text-transform: uppercase;
	color:#fff;
	margin: 10px 0px 10px 30px;
}

.cadre_blanc_actu{
	position: absolute;
	width: 754px;
	height: 220px;
	background:rgba(255,255,255,0.85);
	
}

#cadre_blanc_actu0{
	top: 60px;
}

#cadre_blanc_actu1{
	top: 280px;
}

.actu{
	font-family: 'OpenSans-Regular';
	font-size: 20px;
	margin: 30px 30px 30px 30px;
	color:#000000;
	text-align: left;
}

.traitactu{
	position:absolute;
	width:734px;
	height: 1px;
	background: #111111;

	left:10px;
	opacity:0.30;
}
#traitactu0{
	top:278px;
}

#traitactu1{
}

.bulle_actu{
	position: absolute;
	top:502px;
	left:295px;
}

/*Diaporama*/

#diaporama{
	width:754px;
	height:526px;
	left:1152px;
}


.logo_univ{
	position: absolute;
	right:10px;
	top:10px;
}

.diapo1{
	width:754px;
	height:436px;
	overflow: hidden;
	margin-top: 60px;
}

.diapo1 img{
	width: 754px;
}


/*Tbc*/

#tbc{
	width:370px;
	height:796px;
	position: initial;
}

.logo_tbc{
	margin-top: 14px;
	margin-left: 30px;
}

.trait{
	margin:0 auto;
	width:95%;
	height: 1px;
	background: #fff;
	opacity:0.75;
}


.tram{											/*tram*/
	font-size: 20px;
	text-transform: uppercase;
	color:#fff;
}
.tram p{
	display: inline;
}

.tram img {
		vertical-align: middle;
		margin-left: 6px;
		margin-right: 6px;
}

.voyant_tram{
	font-size: 20px;
	color:#fff;
}

.voyant_tram img{
	vertical-align: middle;
	margin-left: 6px;
	margin-right: 6px;
}

.nexttram{
	font-size: 20px;
	text-transform: uppercase;
	color:#fff;
}

.dest{
	font-size: 20px;
	color:#fff;
	display: inline;
}

.time{

	font-size: 50px;
	color:#fff;
	display: inline;

}

.time span{
	font-size: 18px;
}

.bus{														/*bus*/
	position: absolute;
	font-size: 20px;
	text-transform: uppercase;
	color:#fff;
	top:328px;
	left:10px;
}

.bus img {
		vertical-align: middle;
		margin-left: 6px;
		margin-right: 6px;
}

.voyant_bus{
	position: absolute;
	font-size: 20px;
	color:#fff;
	top:330px;
	left:143px;
}

.voyant_bus img{
	vertical-align: middle;
	margin-left: 6px;
	margin-right: 6px;
}

.nextbus{
	position: absolute;
	font-size: 20px;
	text-transform: uppercase;
	color:#fff;
	top:390px;
	left:10px;
}

.arret1{
	position: absolute;
	font-size: 20px;
	color:#fff;
	top:440px;
	left:20px;
}

.horaire1{
	position: absolute;
	font-size: 50px;
	color:#fff;
	top:420px;
	left:200px;
}

.arret2{
	position: absolute;
	font-size: 20px;
	color:#fff;
	top:500px;
	left:20px;
}

.horaire2{
	position: absolute;
	font-size: 50px;
	color:#fff;
	top:480px;
	left:200px;
}

.vcub{													/*vcub*/
	position: absolute;
	font-size: 20px;
	text-transform: uppercase;
	color:#fff;
	top:588px;
	left:10px;
}

.nb_vcub{
	position: absolute;
	font-size: 50px;
	text-transform: uppercase;
	color:#fff;
	top:568px;
	left:270px;
}

.cadre_blanc_tbc{
	position: absolute;
	background:rgba(255,255,255,0.85);
	width: 370px;
	height: 126px;
	top: 640px;
	overflow: hidden;
}

.info_tbc{
	font-family: 'OpenSans-Regular';
	font-size: 20px;
	margin: 10px 10px 10px 10px;
	color:#000000;
	text-align: center;
}

.bulle_tbc{
	top:773px;
	position: absolute;
	left:150px;

}

/*Babord*/

#babord{
	width:1138px;
	height:526px;
	top:540px;
	left:384px;
}

.nouveaux{
	position: absolute;
	font-size: 30px;
	text-transform: uppercase;
	color:#fff;
	margin: 10px 0px 10px 30px;
}

.cadre_blanc_babord1{
	position: absolute;
	width: 768px;
	height: 436px;
	background:rgba(255,255,255,0.75);
	top: 60px;
}


.grand_livre img{							/*resolution image : 276*351*/
	position: absolute;
	margin: 40px 0px 40px 80px;
}


.grand_titre{
	position: absolute;
	font-family: 'OpenSans-Regular';
	font-size: 30px;
	text-transform: uppercase;
	color:black;
	left: 420px;
	top: 130px;
}

.grand_auteur{
	position: absolute;
	font-family: 'OpenSans-Regular';
	font-size: 20px;
	color:black;
	left: 420px;
	top: 180px;
}

.grand_type{
	position: absolute;
	font-family: 'OpenSans-Regular';
	font-size: 20px;
	color:black;
	left: 420px;
	top: 250px;
}

.cadre_blanc_babord2{
	position: absolute;
	width: 370px;
	height: 436px;
	background:rgba(255,255,255,0.85);
	top: 60px;
	right:0px;
}

.visuel1{
	position: absolute;
	margin: 22px 22px 22px 22px;
}

.titre1{
	position: absolute;
	font-family: 'OpenSans-Regular';
	text-transform: uppercase;
	font-size: 20px;
	left : 120px;
	top : 40px;
}

.auteur1{
	position: absolute;
	font-family: 'OpenSans-Regular';
	font-size: 20px;
	left:120px;
	top:70px;
}

.visuel2{
	position: absolute;
	margin: 22px 22px 22px 22px;
	top:145px;
}

.titre2{
	position: absolute;
	font-family: 'OpenSans-Regular';
	text-transform: uppercase;
	font-size: 20px;
	left : 120px;
	top : 185px;
}

.auteur2{
	position: absolute;
	font-family: 'OpenSans-Regular';
	font-size: 20px;
	left:120px;
	top:215px;
}

.visuel3{
	position: absolute;
	margin: 22px 22px 22px 22px;
	top:290px;
}

.titre3{
	position: absolute;
	font-family: 'OpenSans-Regular';
	text-transform: uppercase;
	font-size: 20px;
	left : 120px;
	top : 330px;
}

.auteur3{
	position: absolute;
	font-family: 'OpenSans-Regular';
	font-size: 20px;
	left:120px;
	top:360px;
}


/*Meteo*/

#meteo{
	width:370px;
	height:526px;
	top:540px;
	left:1536px;
}

.ville{
	text-align: center;
	line-height: 30px;
	text-transform: uppercase;
	font-size: 30px;
	color: #fff;
	margin-top:56px;
}

.phrase{
	text-align: center;
	line-height: 20px;
	font-size: 20px;
	color: #fff;
	margin-top:15px;
}

.temps{
	text-transform: uppercase;
	text-align: center;
	font-size: 50px;
	color: #fff;
	margin-top: 30px;
	padding-right: 74px;
}

.temps img{
	position: absolute;
	width: 80px;
	height: 80px;
}
.semaine{
	display: inline-block;
}


.semaine ul{
	margin-left: 30px;
	list-style-type:none;
	text-transform: uppercase;
	font-size: 20px;
	color: #fff;
	vertical-align: top;
}

.semaine img{
	width: 40px;
}
.semaine li{
	padding-top:10px;
	padding-bottom: 10px;
	height: 40px;
}
/*
.semaine li{
	margin:20px 20px 18px 18px;
}

.temps_semaine{


}

.temps_semaine ul{
	list-style-type:none;
	font-family: 'OpenSans-Light';
	text-transform: uppercase;
	font-size: 20px;
	color: #fff;
}

.temps_semaine li{
	margin:20px 18px 18px 10px;
}

.picto_semaine img{
	width: 40px;
	height: 40px;
}
.picto_semaine{

}
.picto_semaine ul{
	list-style-type:none;
	font-family: 'OpenSans-Light';
	text-transform: uppercase;
	font-size: 20px;
	color: #fff;
}*/